<html>
<head>
    <title>{title}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="{theme_class}">
    <div class="container">
        <h1>{title}</h1> <!-- Date is usually smaller, maybe an h2 or p -->
        <h4>{date}</h4>
        
        <p>{text}</p>

       
            <a href="/">Padrão</a> |
            <a href="/d">The Dark Side</a> |
            <a href="/w">White Side</a>
  

    
            <p>escolher o tema dessa pagina:</p>
            <a href="?theme=light">Ligar a Luz</a> |
            <a href="?theme=dark">Desligar a Luz</a> |
            <a href="?theme=default">deixar feia)</a>
     
    </div>
</body>



</html>